<%- include("header") -%>



<form class="" action="/addstage" method="post">
  <input type="text" name="Name" placeholder="Name" autocomplete="false">
  <input type="text" name="Location" placeholder="Location" autocomplete="false">
  <input type="text" name="Day" placeholder="Day" autocomplete="false">
  <input type="text" name="Img" placeholder="Img" autocomplete="false">
  <button class="btn" type="submit" placeholder="button">Add</button>
</form>


<%- include("footer") -%>
