<%- include("header") -%>
<%- include("navbar") -%>

<form class="" action="/addstage" method="post">
  <h5>Stage Name: </h5>
  <input type="text" name="Name" placeholder="Name" autocomplete="false" autofocus>
  <h5>Location: </h5>
  <h6>City:</h6>
  <input type="text" name="City" placeholder="City" autocomplete="false">
  <h6>Street:</h6>
  <input type="text" name="Street" placeholder="Street" autocomplete="false">
  <h6>Number:</h6>
  <input type="text" name="Number" placeholder="Number" autocomplete="false">
  <h5>Day: </h5>
  <input type="text" name="Day" placeholder="Day" autocomplete="false">
  <h5>Start at: </h5>
  <input type="text" name="startTime" placeholder="00:00" autocomplete="false">
  <h5>Image Source: </h5>
  <input type="text" name="Img" placeholder="Img" autocomplete="false">
  <button class="btn" type="submit" placeholder="button">Add</button>
</form>


<%- include("tableDB") -%>
<%- include("footer") -%>
