
<section id="testimonials">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h2>Title of stage</h2>
        <img class="testimonials-image" src="https://media.easy.co.il/images/UserThumbs/1696389_1553542655024.jpg" alt="dog-profile">
        <em>Lorem Ipsum is simply dummy text of the printing </em>
      </div>
      <div class="carousel-item">
        <h2 class="testimonial-text">Title of the stage</h2>
        <img class="testimonials-image" src="https://media-cdn.tripadvisor.com/media/photo-s/12/9d/9f/17/jack-weekend.jpg" alt="Jack - Ashkelon">
        <em>ome incarnations of Vishnu such as Matsya, Kurma, Varaha and specially those related to wild boar</em>
      </div>

      <div class="carousel-item">
        <h2 class="testimonial-text">Title of the stage</h2>
        <img class="testimonials-image" src="https://halayla.co.il/wp-content/uploads/2021/07/IMG-20210712-WA0025.jpg" alt="...">
        <em> incarnations of Vishnu such as Matsya, Kurma, Varaha and perhaps even Nrsimha helped to incorporate certain </em>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</section>
