<%- include("header") -%>
<%- include("navbar") -%>

<form class="" action="/deletestage" method="post">
  <h5>Delete Stage: </h5>
  <input type="text" name="Name" placeholder="Name" autocomplete="false" autofocus>
  <h5>Admin Passcode: </h5>
  <input type="text" name="Passcode" placeholder="Passcode" autocomplete="false">
  <button class="btn" type="submit" placeholder="button">Delete Stage</button>
</form>

<%- include("tableDB") -%>
<%- include("footer") -%>
