
    <footer id="footer">

                <h5>Contacts</h5>
                      <p>Address:</p>
                      <p>798 South Park Avenue, Jaipur, Raj</p>
                      <p>email:</p>
                      <p><a href="mailto:#">ofry60000@gmail.com</a></p>
                      <i class="social-icon fa-brands fa-facebook"></i>
                      <i class="social-icon fa-brands fa-instagram"></i>
                      <i class="social-icon fa-brands fa-twitter"></i>
                      <i class="social-icon fa-solid fa-envelope"></i>
          <p class="rights"><span>©  </span><span class="copyright-year">2022</span><span> </span><span>OpenBama</span><span>. </span><span>All Rights Reserved.</span></p>
        </footer>


  </body>
</html>
