


<div>

  <form class="rank-form" action="/rank" method="post">

      <input class="hide" type="text" name="stageName" value="<%= Stage.Name %>">

      <button class="rank"  type="submit" name="rank" value="1"><i id="one" class="star fa-solid fa-star"></i></button>
      <button class="rank"  type="submit" name="rank" value="2"><i id="two" class="star fa-solid fa-star"></i></button>
      <button class="rank"  type="submit" name="rank" value="3"><i id="three" class="star fa-solid fa-star"></i></button>
      <button class="rank"  type="submit" name="rank" value="4"><i id="four" class="star fa-solid fa-star"></i></button>
      <button class="rank"  type="submit" name="rank" value="5"><i id="five" class="star fa-solid fa-star"></i></button>


  </form>


</div>

<script src="/scripts/rank.js" charset="utf-8"></script>
