

    <div class="row">

      <h2 class="pb-2 border-bottom">במות פתוחות</h2>


      <div class="col-lg-4 monday stage-day">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://media.easy.co.il/images/UserThumbs/1696389_1553542655024.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Napopo bar</h2>
            <ul class="d-flex list-unstyled mt-auto bg-dark">

              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em">
                  <use xlink:href="#geo-fill" />
                </svg>
                <small>Ashdod</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em">
                  <use xlink:href="#calendar3" />
                </svg>
                <small>Monday</small>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="col-lg-4 tuesday stage-day">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/12/9d/9f/17/jack-weekend.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Jack Bar</h2>
            <ul class="d-flex list-unstyled mt-auto bg-dark">

              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em">
                  <use xlink:href="#geo-fill" />
                </svg>
                <small>Ashkelon</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em">
                  <use xlink:href="#calendar3" />
                </svg>
                <small>Thursday</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 sunday stage-day">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://halayla.co.il/wp-content/uploads/2021/07/IMG-20210712-WA0025.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another stage</h2>

            <ul class="d-flex list-unstyled mt-auto bg-dark">

              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em">
                  <use xlink:href="#geo-fill" />
                </svg>
                <small>California</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em">
                  <use xlink:href="#calendar3" />
                </svg>
                <small>5 days</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <script src="scripts/index.js" charset="utf-8"></script>
