<%- include("header") -%>
<%- include("navbar") -%>


<form class="" action="/updatestage" method="post">
  <h5>Stage Name to update: </h5>
  <input type="text" name="NameToUpdate" placeholder="Name" autocomplete="false" autofocus>
  <h5>New Stage Name: </h5>
  <input type="text" name="newName" placeholder="Name" autocomplete="false">
  <h5>New  Location: </h5>
  <h6>City:</h6>
  <input type="text" name="newCity" placeholder="City" autocomplete="false">
  <h6>Street:</h6>
  <input type="text" name="newStreet" placeholder="Street" autocomplete="false">
  <h6>Number:</h6>
  <input type="text" name="newNumber" placeholder="Number" autocomplete="false">
  <h5>New  Day: </h5>
  <input type="text" name="newDay" placeholder="Day" autocomplete="false">
  <h5>New Start Time: </h5>
  <input type="text" name="newstartTime" placeholder="00:00" autocomplete="false">
  <h5>New Phone number: </h5>
  <input type="text" name="newPhone" placeholder="" autocomplete="false">
  <h5>New Image Source: </h5>
  <input type="text" name="newImg" placeholder="Img" autocomplete="false">
  <button class="btn" type="submit" placeholder="button">Add</button>
</form>


<%- include("tableDB") -%>
<%- include("footer") -%>
